@model List<SocialMedia>

<footer id="footer" class="footer position-relative light-background">
    <div class="container">
        <h3 class="sitename">Elif Alptekin</h3>
        <p>Beni sosyal medya hesaplarımdan da takip ederek projelerimden ve güncellemelerden haberdar olabilirsiniz.</p>
        <div class="social-links d-flex justify-content-center">
            <a href="https://x.com/ornekkullanici"><i class="bi bi-twitter-x"></i></a>
            <a href="https://facebook.com/ornekkullanici"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/ornekkullanici"><i class="bi bi-instagram"></i></a>
            <a href="skype:ornekkullanici?chat"><i class="bi bi-skype"></i></a>
            <a href="https://linkedin.com/in/ornekkullanici"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="container">
            <div class="copyright">
                <span>© @DateTime.Now.Year</span> <strong class="px-1 sitename">Elif Alptekin</strong> <span>Tüm Hakları Saklıdır.</span>
            </div>
            <div class="credits">
                Tasarım: <a href="https://example.com">Elif Alptekin</a> | Dağıtım: <a href="https://example.com">Elif Alptekin</a>
            </div>
        </div>
    </div>
</footer>
