@model Testimonial
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Güncelle</h2>

<form asp-action="UpdateTestimonial" method="post">
    <input type="hidden" asp-for="TestimonialId" />
    <div class="form-group">
        <label asp-for="NameSurname" class="control-label">Ad Soyad</label>
        <input asp-for="NameSurname" class="form-control" style="border:1px solid black" />
        <span asp-validation-for="NameSurname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label">Ünvan</label>
        <input asp-for="Title" class="form-control" style="border:1px solid black" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CommentDetail" class="control-label">Yorum</label>
        <textarea asp-for="CommentDetail" class="form-control" style="border:1px solid black"></textarea>
        <span asp-validation-for="CommentDetail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">Görsel Linki</label>
        <input asp-for="ImageUrl" class="form-control" style="border:1px solid black" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
    <a asp-action="TestimonialList" class="btn btn-secondary">İptal</a>
</form>
